.header{
  @include common-flex;
  height: 60px;
  &__position{
    @include common-position;
  }
  &__line {
    border-bottom: 1px solid var(--headre-border-color);
  }

  &__auth:hover,
  &__auth:focus{
    color: var(--accent-color);
    fill: var(--accent-color);
  }

  @media screen and(min-width:768px) {
    @include common-flex;
    height: 80px;
    &__auth:first-child{
      margin-bottom: 10px;
    }
  }

  @media screen and(min-width:1200px) {
    &__auth:not(:first-of-type) {
      margin-left: 50px;
      height: auto;
    }  
    &__auth:first-child{
      margin-bottom: 0;
    }

  }
}

.nav{
  display: none;
  @media screen and(min-width:768px) {
    @include common-flex;
    height: auto;
  }


  &__li:not(:last-of-type) {
    margin-right: 50px;
  }
  &__link:focus,
  &__link:hover{
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  &__li {
    position: relative;
    
  }
  &__link{
    @include common-flex;
  }
  &__link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 25px;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.auth{
  display: none;
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    display: flex;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus{
      color: var(--accent-color);
      fill: var(--accent-color);
    }
  }
  @media screen and(min-width:768px) {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding: 0;
  }
  @media screen and(min-width:1200px) {
    flex-direction: row;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  
}


  

 
  
  .icon {
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    &:focus,
    &:hover{
      color: var(--accent-color);
      fill: var(--accent-color);
    }
    &-position{
      margin-right: 10px;
    }
  }




.current{
  color: var(--accent-color);

  &::after {
    content: "";
    display: inline-block;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    position: absolute;
    bottom: -2px;
    left: 0;
    border-radius: 2px;
  }
}
    
