.mobile{
    overflow-y: scroll;
    @media screen and (max-width: 767px) {
        display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: var(--primary-white-color);
    z-index: 2;
    &__link{
        display: block;
        margin-bottom: 32px;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: var(--title-text-color)
    }
    &__nav,
    &__auth{
        display: flex;
        flex-direction: column;
    }
    &__nav{
        margin-bottom: 35vh;
    }
    &__auth{
        margin-bottom: 64px;
    }
    &__contacts:not(:last-of-type){
        margin-bottom: 32px;
    }

    &.is-open{
        display: block;    
    }
    @media screen and(max-width:479px) {
        &__nav{
            margin-bottom: 20vh;
        }
    }
    }


    @media screen and (min-width: 768px) {
        display: none;
    }
}


.social__lists{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.social__link{
    font-size: 18px;
    line-height: 1.22;
    color: var(--accent-color);
    padding: 0 10px;
    @media screen and(max-width:479px) {
        margin-bottom: 5px;
    }
}
.social__link:not(:last-of-type){
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.contacts__link{
    font-size: 24px;
    line-height: 1.16;
    color: var(--primary-text-color);
    &--colored{
        color: var(--accent-color);
        font-size: 40px;
        line-height: 1.18;
    }
    @media screen and(max-width:479px) {
        font-size: 26px;
    }

}

.active{
    color: var(--accent-color);
}

